---
layout: default
---

<div class="home">

  <div class="postings">

    {{ content }}

    <!-- 
    <div class="unstarred">
      {%- if site.pages.size > 0 -%}
        {%- for my_page in site.pages -%}
          {%- if my_page.starred != null and my_page.starred != true-%}
            {%- if site.pages[2] != my_page -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">
                {{ my_page.title | escape }}
              </a>
              &nbsp;-&nbsp;
            {%- else -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">
                {{ my_page.title | escape }}
              </a>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
   -->

    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Latest Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts limit:3 -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }} - {{ post.blog }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            <i>"{{ post.excerpt }}"</i>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
  </div>
</div>
